parameters:
	ignoreErrors:
		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceProvider\\\\AuthentikResourceProvider\\:\\:createResourceOwner\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceProvider/AuthentikResourceProvider.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceProvider\\\\AuthentikResourceProvider\\:\\:fetchResourceOwnerDetails\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceProvider/AuthentikResourceProvider.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceProvider\\\\MicrosoftResourceProvider\\:\\:createResourceOwner\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceProvider/MicrosoftResourceProvider.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\AuthentikResourceResolver\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/AuthentikResourceResolver.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\AuthentikResourceResolver\\:\\:updateFrontendUser\\(\\) has parameter \\$feUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/AuthentikResourceResolver.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\GenericResourceResolver\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/GenericResourceResolver.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\GenericResourceResolver\\:\\:updateFrontendUser\\(\\) has parameter \\$feUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/GenericResourceResolver.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\GitlabResourceResolver\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/GitlabResourceResolver.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\GitlabResourceResolver\\:\\:updateFrontendUser\\(\\) has parameter \\$feUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/GitlabResourceResolver.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\MicrosoftResourceResolver\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/MicrosoftResourceResolver.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\MicrosoftResourceResolver\\:\\:updateFrontendUser\\(\\) has parameter \\$feUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/MicrosoftResourceResolver.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\ResourceResolverInterface\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/ResourceResolverInterface.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\ResourceResolver\\\\ResourceResolverInterface\\:\\:updateFrontendUser\\(\\) has parameter \\$feUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ResourceResolver/ResourceResolverInterface.php

		-
			message: "#^Attribute class JetBrains\\\\PhpStorm\\\\ArrayShape does not exist\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Cannot call method fetchAllAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Cannot call method fetchAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Cannot call method fetchOne\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:createBasicBackendUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:findUserByUsernameOrEmail\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:persistAndRetrieveUser\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:persistAndRetrieveUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:persistAndRetrieveUser\\(\\) should return array\\|null but returns array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:persistIdentityForUser\\(\\) has parameter \\$userRecord with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:registerRemoteUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:saveUpdatedTypo3User\\(\\) has parameter \\$typo3User with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:updateAdmin\\(\\) has parameter \\$typo3User with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:updateProfileImage\\(\\) has parameter \\$userRecord with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:updateTypo3User\\(\\) has parameter \\$typo3User with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:updateTypo3User\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\BackendUserFactory\\:\\:updateUserGroups\\(\\) has parameter \\$typo3User with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Attribute class JetBrains\\\\PhpStorm\\\\ArrayShape does not exist\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Cannot call method fetchAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:__construct\\(\\) has parameter \\$extendedProviderConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:createBasicFrontendUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:findUserByUsernameOrEmail\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:persistAndRetrieveUser\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:persistAndRetrieveUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:persistAndRetrieveUser\\(\\) should return array\\|null but returns array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:persistIdentityForUser\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:registerRemoteUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:updateFrontendUserSlug\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Property Xima\\\\XimaOauth2Extended\\\\UserFactory\\\\FrontendUserFactory\\:\\:\\$extendedProviderConfiguration type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Cannot call method fetchAllAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: Classes/UserFactory/ImageUserFactory.php

		-
			message: "#^Cannot call method fetchFirstColumn\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: Classes/UserFactory/ImageUserFactory.php
